@{
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}
<link rel="stylesheet" href="~/css/Home/accountSettings.min.css" type="text/css" />
<div class="wrapper wrapper--small">
    <h1 class="headline headline--small">Ustawienia</h1>
    <div class=" container container--white container--small">
        <div class="account-settings">
            <div class="avatar account-settings--component">
                <div class="component__name">
                    <div class="avatar-container">
                        <img class="avatar__image" src="http://via.placeholder.com/150x150">
                        <button class="avatar__button button"><i class="fas fa-cog"></i></button>
                    </div>
                </div>
                <div class="component__action">
                    <h2 class="text-login">"Login"</h2>
                </div>
            </div>
            <div class="name account-settings--component">
                <div class="component__name">
                    <p>Imię i nazwisko</p></div>
                <div class="component__action">
                    <input class="input input--white" type="text" name="Name" value="Mickey Mouse" />
                </div>
            </div>
            <div class="age account-settings--component">
                <div class="component__name">
                    <p>Wiek</p></div>
                <div class="component__action">
                    <input class="input input--white" type="text" name="Name" value="47" />
                </div>
            </div>
            <div class="phone account-settings--component">
                <div class="component__name">
                    <p>Numer telefonu</p></div>
                <div class="component__action">
                    <input class="input input--white" type="text" name="Name" value="123456789" />
                </div>
            </div>
            <div class="send-data">
                <button class=" send-data__button button button--white">Zapisz</button>
            </div>
        </div>
    </div>
    <div class=" container container--white container--small">
        <div class="password-change">
            <h2 class="password-change__title">Zmiana hasła</h2>
            <div class="old-password account-settings--component">
                <div class="component__name">
                    <p>Stare hasło</p></div>
                <div class="component__action">
                    <input class="input input--white" type="text" name="Name" value="Mickey" />
                </div>
            </div>
            <div class="new-password account-settings--component">
                <div class="component__name">
                    <p>Nowe hasło</p></div>
                <div class="component__action">
                    <input class="input input--white" type="text" name="Name" value="Mickey" />
                </div>
            </div>
            <div class="repeate-password account-settings--component">
                <div class="component__name">
                    <p>Powtórz hasło</p></div>
                <div class="component__action">
                    <input class="input input--white" type="text" name="Name" value="Mickey" />
                </div>
            </div>
            <div class="send-data">
                <button class=" send-data__button button button--white">Zapisz</button>
            </div>
        </div>
    </div>
</div>