@{
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}
<link rel="stylesheet" href="~/css/Home/contact.css" type="text/css" />
<div class="wrapper wrapper--small">
    <h1 class="headline headline--small">Kontakt</h1>
    <div class="container--white container--small">
        <div class="register-form">
            <textarea type="text" class="input input--white container__input container__input--message" placeholder="Wiadomość" minlength="12" maxlength="350" required></textarea>
            <div class="user-info">
                <input type="text" class="input input--white container__input" placeholder="Imię i nazwisko" minlength="8" maxlength="50" required>
                <input type="email" class="input input--white container__input" placeholder="E-mail" minlength="7" maxlength="50" required>
                <div class="check">
                    <label class="check__label">
                        <input type="checkbox" class="check__checkbox"> "Captcha"
                    </label>
                </div>
            </div>

            <div class="container__button-block">
                <button class="container__button button button--white">Wyślij</button>
            </div>
        </div>
    </div>
</div>