@{
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}
<link rel="stylesheet" href="~/css/Home/index.css" type="text/css" />
<div class="progress">
    <div class="progress__title">
        <img src="~/images/icons/excavator.svg" alt="AutomotiveService">
        <h1>Work in progress</h1>
    </div>
    <div class="progress__links">
        <h1>Check other subpages:</h1>
        <ul>
            <li><a class="links--white" href="@Url.Action("regulations","Home")">Regulamin</a></li>
            <li><a class="links--white" href="@Url.Action("registration","Home")">Rejestracja</a></li>
        </ul>

    </div>
</div>
<!-- <div class="page">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators carousel-indicators--round">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <div class="fluid-container carousel-left-slide">
                            <img class="d-block w-100 slide-picture" src="http://via.placeholder.com/300x200" alt="First slide">
                            <div class="project-name">Nazwa projektu</div>
                        </div>
                    </div>
                    <div class="col-md-3 slide-project-info">
                        <div class="fluid-container">
                            <div class="top-right">
                                <p class="text-ocena">Ocena</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <div class="fluid-container carousel-left-slide">
                            <img class="d-block w-100 slide-picture" src="http://via.placeholder.com/300x200" alt="Second slide">
                            <div class="project-name">Nazwa projektu</div>
                        </div>
                    </div>
                    <div class="col-md-3 slide-project-info">
                        <div class="fluid-container">
                            <div class="top-right">
                                <p class="text-ocena">Ocena</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <div class="fluid-container carousel-left-slide">
                            <img class="d-block w-100 slide-picture" src="http://via.placeholder.com/300x200" alt="Third slide">
                            <div class="project-name">Nazwa projektu</div>
                        </div>
                    </div>
                    <div class="col-md-3 slide-project-info">
                        <div class="fluid-container">
                            <div class="top-right">
                                <p class="text-ocena">Ocena</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <div class="fluid-container carousel-left-slide">
                            <img class="d-block w-100 slide-picture" src="http://via.placeholder.com/300x200" alt="Fourth slide">
                            <div class="project-name">Nazwa projektu</div>
                        </div>
                    </div>
                    <div class="col-md-3 slide-project-info">
                        <div class="fluid-container">
                            <div class="top-right">
                                <p class="text-ocena">Ocena</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container-fluid thebest-slider">
                <div class="row">
                    <div class="col-md-9">
                        <div class="fluid-container carousel-left-slide">
                            <img class="d-block w-100 slide-picture" src="http://via.placeholder.com/300x200" alt="Fifth slide">
                            <div class="project-name">Nazwa projektu</div>
                        </div>
                    </div>
                    <div class="col-md-3 slide-project-info">
                        <div class="fluid-container">
                            <div class="top-right">
                                <p class="text-ocena">Ocena</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div class="text-and-button-container">
                <div class="text-container">
                    <p class="text-best">Najlepsi z najlepszych</p>                        
                </div>
                <div class="button-container">
                    <button class="button button--orange">ZOBACZ WSZYSTKIE PROJEKTY</button>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md table-category">
                        <p class="category-title">Kategoria</p>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row" class="table-number">1</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">2</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">3</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">4</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">5</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">6</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">7</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">8</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">9</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">10</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md table-category">
                        <p class="category-title">Kategoria</p>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row" class="table-number">1</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">2</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">3</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">4</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">5</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">6</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">7</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">8</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">9</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">10</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md table-category">
                        <p class="category-title">Kategoria</p>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row" class="table-number">1</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">2</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">3</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">4</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">5</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">6</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">7</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">8</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">9</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-number">10</th>
                                    <td><img class="table-avatar" src="http://via.placeholder.com/30x30" alt="Second slide"></td>
                                    <td>Nazwa projektu</td>
                                    <td>ocena</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div> -->



