@{
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}
<link rel="stylesheet" href="~/css/Home/project.min.css" type="text/css" />
<div class="wrapper">
    <div class="project__title">
        <h1 class="headline">"Nazwa projektu"</h1>
    </div>
    <div class="project__content">
        <div class="column__left">
            <div class="container--white container__image">
                <a href="https://placeholder.com"><img src="http://via.placeholder.com/720x400"></a>
            </div>
            <div class="container--white contariner__about">
                <p>o projekcie</p>
            </div>
            <div class="container--white contariner__comments">
                <p>komentarze</p>
            </div>
        </div>
        <div class="column__right">
            <div class="container--white container__timeline">
                <p>oś czasu</p>
            </div>        
            <div class="container--white contariner__other-projects">
                <p>zobacz inne projekty</p>
            </div>
        </div>
    </div>

</div>