@{
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}
<link rel="stylesheet" href="~/css/Home/workInProgress.css" type="text/css" />
<div class="progress">
    <div class="progress__title">
        <img src="~/images/icons/excavator.svg" alt="AutomotiveService">
        <h1>Work in progress</h1>
    </div>
    <div class="progress__links">
        <h1>Check other subpages:</h1>
        <ul>
            <li><a class="links--white" href="@Url.Action("regulations","Home")">Regulamin</a></li>
            <li><a class="links--white" href="@Url.Action("registration","Home")">Rejestracja</a></li>
            <li><a class="links--white" href="@Url.Action("contact","Home")">Kontakt</a></li>
        </ul>
    </div>
</div>