body {
    background: linear-gradient(to right, #3f3956, #373739);
    /*padding-bottom: 40px;*/
    
}

.page-content {
    margin-top: 20px;
    
}




/*@@@@@@@@@@@@@@@@@@@@@@@@@@@-NAVBAR-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


.navbar {
    background-color: #ff8067;
}

.nav-link {
    color: #373739 !important;
}

.nav-hamburger-button {
    color: #373739 !important;
    border: 0;
    position: absolute;
    top: 16px;
    left: 20px;
}


.fa-user-circle:before {
    color: #373739;
}

.fa-user-circle {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.dropdown-toggle:after {
    display: none;
}

.btn-primary {
    color: #fff;
    background-color: #af4339;
    border-color: #ffa391;
}

.btn-primary:hover {
    color: #fff;
    background-color: #98352b;
    border-color: #ffa391;
}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-FOOTER-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


footer {
    margin-top: 50px;
    padding-top: 70px;
    text-align: center;
    color: #fff;
    background-color: #000;
    padding-bottom: 50px;
}

.footer-links{
    color: #fff;
}

.footer-links:hover {
    color: #ff8067;
}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@-RESPONSIVE-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


/* Small devices (tablets, 768px and down) */
@media (max-width: 767px) {

    .navbar-header {
        float: left;
        /*padding: 10px;*/
        text-align: center;
        width: 100%;

    }

    .navbar-brand {
        float: none;
    }

    .user-nav-right-menu-button{
        display: none;
    }

    .dropdown-toggle {
        display: none;
    }

    .login-button-mobile {
        color: #fff;
        background: #373739;
        border: 0px;
        border-radius: 50px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        max-height: 200px;
        padding: 10px;
        padding-left: 40px;
        padding-right: 40px;
    }

}

@media (min-width: 768px){
   
    .login-button-mobile{
        display: none;
    }
}

@media (min-width: 1213px) {


    .footer-left-text {
        text-align: right;
    }

    .footer-right-text {
        text-align: left;
    }
}