$orange: #ff8067;
$brown: #af4339;
$black: #373739;
$grey: #ccc;

*{font-family: 'Titillium Web', sans-serif;}

body {
    //background: linear-gradient(to right, #3f3956, #373739);
    background: #373739;
    margin: 0px;
    
    
}

.page-content {
    margin-top: 20px;  
}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ NAVBAR @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

nav{
    background-color: $orange;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    // width: 90%;
    margin-left: auto; 
    margin-right: auto;
    height: 56px;
    
    &__hamburger{
        margin-left: 30px;
        padding-right: 4%;        
        margin-top: auto; 
        margin-bottom: auto;
    }
    &__brand{
        margin-top: auto; 
        margin-bottom: auto;
    }
    &__search{
        margin-left: 80px;
        margin-top: auto; 
        margin-bottom: auto;
        &__input{
            width: 400px;
            height: 30px;
            margin-right: 0;
            background: lighten($orange, 10%);
            border: 0;
            border-radius: 3px;
            padding-left: 10px;
            // outline-color: $grey;
            // border-top-left-radius: 50px;
            // border-bottom-left-radius: 50px;
            
        }
        &__button{
            width: 40px;
            height: 30px;
            margin-left: 0;
            background: $brown;
            border: 0;
            color: lighten($orange, 20%);
            border-radius: 3px;
        }
    }
    &__user-menu{
        display: none;
        margin-left: auto;
        margin-right: 5%;
        margin-top: auto; 
        margin-bottom: auto;
    }
}


@media (max-width: 720px){
    .navbar{
        // width: 95%;
        &__brand{
            text-align: center;
        }
        &__search{
            display: none;
        }
        &__user-menu{
            display: none;
        }

    }
}


/*----------------- SCROLL -----------------------------*/

  nav {
    width: 100%;
  }
  
  /* applied after scroll height reached */
  .fixed-nav nav {
    position: fixed;
    top:0;
  }


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ SIDEBAR @@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.side-nav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:56px;
    left:0;
    background-color: darken($black, 9%);
    //opacity:0.9;
    overflow-x:hidden;
    padding-top:60px;
    transition:0.5s;
  }
  
  .side-nav a{
    padding:10px 10px 10px 30px;
    text-decoration:none;
    font-size:22px;
    color:#ccc;
    display:block;
    transition:0.3s;
  }
  
  .side-nav a:hover{
    color:#fff;
  }
  
  .side-nav .btn-close{
    position:absolute;
    top:0;
    right:22px;
    font-size:36px;
    margin-left:50px;
  }
  
@media (min-width: 700px){
    #scale{
        transition:margin-left 0.5s;
        padding:20px;
        overflow:hidden;
    }
}






/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ FOOTER @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


footer {
    margin-top: 50px;
    padding-top: 70px;
    text-align: center;
    color: #fff;
    background-color: #000;
    padding-bottom: 50px;
}

.footer-links{
    color: #fff;
}

.footer-links:hover {
    color: $orange;
}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ RESPONSIVE @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

