################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

#ignore files
storage.ide

#igonere direcory
/.vs/
/AutomobileWebService/obj/
/AutomobileWebService/bin/
/AutomobileWebService.Test/obj/
/AutomobileWebService.Test/bin/