$grey: #ccc;


.wrapper {
    max-width: 90%;
    margin: 0 auto;

}

.links {
    color: #ff8067;
}

.links:hover {
    color: #ff8067;
}

.container--white {
    margin-top: 20px;
    background-color: #fff;    
    border-radius: 3px;
    padding: 30px
}


.input{
    &--white{
        border: 1px solid $grey;
        border-radius: 3px;
    }
}


button:focus {
    outline: 0;
}


.button {
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}

.button--orange {
    font-size: 95%;
    color: #fff;
    background-color: #e57263;
    border: 0px;
    padding: 30px;
    text-align: center;
}

.button--orange:hover {
    background-color: #ff8067;
}

.button--white {
    color: #ff8067;
    font-weight: 600;
    background: #fff;
    border-color: #ff8067;
    border-style: solid;
    padding: 10px 10px;
    padding-left: 40px;
    padding-right: 40px;   
}

.button--white:hover {
    background: #ff8067;
    color: #fff;
}

.headline {
    
    color: #fff;
    font-size: 300%;
    text-align: center;
}


@media (min-width: 510px) {

    .wrapper--small {
        max-width: 500px;
    }

    .container--small {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 30px;
        padding-bottom: 30px;
    }

}

@media (min-width: 768px) {
    .headline {
        text-align: left;
        padding-left: 35px;
    }

    .headline--small {
        padding-left: 95px;
    }

    .wrapper--small {
        max-width: 600px;
    }

    .container--small {
        padding-top: 50px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 50px;
    }

}






@media (min-width: 1500px) {
    .wrapper {
        max-width: 80%;
    }
    .wrapper--small {
        max-width: 600px !important;
    }
}