@import 'main';

.container__input {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 400px;
    padding: 5px;
    width: 90%;
}

.check {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.container__button-block {
    padding-top: 20px;
    display: block;
    text-align: center;
}

@media (min-width: 511px) {
    .container__button-block {
        text-align: left;
    }
}