@{
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}
<link rel="stylesheet" href="~/css/Home/user.min.css" type="text/css" />
<div class="wrapper">
    <div class="profile">
        <div class="profile__about">
            <div class="profile__about__name">
                <p class="">Nazwa użytkownika</p>
            </div>
            <div class="profile__about__avatar">
                <img class="profile__about__avatar__image" src="http://via.placeholder.com/150x150">
            </div>
            <div class="profile__about__bar">
                <div class="profile__about__bar__settings"></div>
                <div class="profile__about__bar__icons">
                    <div class="profile__about__bar__icons__left">
                        <p>Coś tam</p>
                    </div>
                    <div class="profile__about__bar__icons__center">
                        <p>Coś tam</p>
                    </div>
                    <div class="profile__about__bar__icons__right">
                        <p>Coś tam</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile__content"></div>
    </div>
</div>


