<!DOCTYPE html>
<html lang="pl">
<head>
    <title>AutomobileService</title>
    <meta charset="utf-8" />
    <!-- Bootstrap CSS
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />-->
    <!-- Font Awesome 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/Home/main.css" type="text/css" />
    <link rel="stylesheet" href="~/css/Shared/layout.css" type="text/css" />


    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">  
</head>
<body>
    <header>
        <nav>
            <div class="navbar">
                <div class="navbar__hamburger">
                    <button>
                        hamburger
                    </button>
                </div>
                <div class="navbar__search">
                    <input class="navbar__search__input" placeholder="Wyszukaj">
                </div>
                <div class="navbar__user-menu">
                    <button>
                        user-menu
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <main class="page-content"></main>
        @RenderBody()
    </main>
    <footer>
        <p>&copy; 2017 - AutomobileService</p>
        <div class="footer-texts">
            <a class="footer-links footer-left-text" href="#">O nas</a>
            <a class="footer-links" href="@Url.Action("regulations","Home")">Regulamin</a>
            <a class="footer-links footer-right-text" href="#">Kontakt</a>
        </div>
    </footer>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <!-- ajax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <!-- custom script -->
    <script src="~/js/Shared/layout.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>