/*#region COLORS*/
/*#endregion COLORS*/
.wrapper {
  max-width: 90%;
  margin: 0 auto; }

.links {
  color: #b5e555; }
  .links--white {
    text-decoration: none;
    color: #fff; }
    .links--white:hover {
      color: #b5e555; }
  .links:hover {
    color: #b5e555; }

.container--white {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 3px;
  padding: 30px; }

.input {
  border-radius: 3px; }
  .input--white {
    border: 1px solid #ccc;
    background: #fff; }

button:focus {
  outline: 0; }

.button {
  border-radius: 50px; }
  .button--lime {
    font-size: 95%;
    font-weight: bold;
    color: #3f3956;
    background-color: #b5e555;
    border: 0;
    padding: 30px;
    text-align: center; }
    .button--lime:hover {
      background-color: #a9e13a;
      color: #3f3956; }
  .button--white {
    color: #3f3956;
    font-weight: 600;
    background: #fff;
    border-color: #b5e555;
    border-style: solid;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px; }
    .button--white:hover {
      background: #b5e555;
      color: #3f3956; }
  .button__search {
    width: 40px;
    height: 32px;
    margin-left: 0;
    background: #3f3956;
    border: 0;
    color: #fff;
    border-radius: 3px;
    cursor: pointer; }

.headline {
  color: #fff;
  font-size: 300%;
  text-align: center; }

.headline--center {
  color: #fff;
  font-size: 300%;
  text-align: center; }

#page-cover {
  height: 100%;
  width: 0;
  position: fixed;
  top: 56px;
  background: #202022;
  opacity: 0.95;
  z-index: 800; }

@media (min-width: 510px) {
  .wrapper--small {
    max-width: 500px; }
  .container--small {
    padding: 50px 30px; } }

@media (min-width: 721px) {
  #page-cover {
    opacity: 0.5; } }

@media (min-width: 768px) {
  .headline {
    text-align: left;
    padding-left: 35px; }
  .headline--small {
    padding-left: 95px; }
  .wrapper--small {
    max-width: 600px; }
  .container--small {
    padding: 50px 100px; } }

@media (min-width: 1500px) {
  .wrapper {
    max-width: 80%; }
  .wrapper--small {
    max-width: 600px; } }

.avatar-container {
  display: flex;
  position: relative;
  margin: auto;
  width: 7rem;
  height: 7rem; }

.avatar__image {
  border-radius: 100px;
  border-style: solid;
  width: 7rem;
  height: 7rem;
  border-color: #b5e555; }

.avatar__button {
  position: absolute;
  margin: 0;
  top: 0.5em;
  right: 0.5em;
  height: 2em;
  width: 2em;
  border: none;
  color: #fff;
  background: #3f3956; }

.text-login {
  font-weight: bolder;
  font-size: 2em;
  text-align: center; }

.send-data {
  display: flex; }
  .send-data__button {
    margin: 2em auto auto auto; }

.account-settings--component {
  padding-bottom: 1em;
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto; }
  .account-settings--component input {
    height: 2em;
    width: 100%;
    margin: auto auto auto 0; }
  .account-settings--component p {
    font-weight: bold;
    margin: auto; }

.account-settings__form {
  padding-top: 1em;
  width: 70%;
  margin: auto; }

.component__name--order {
  order: 2; }

.component__action--order {
  order: 1; }

.password-change__title {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bolder;
  font-size: 2em; }

@media (min-width: 440px) {
  .text-login {
    text-align: left; }
  .avatar-container {
    margin: auto 0 auto auto; }
  .account-settings--component {
    padding-bottom: 1em;
    margin-top: 0.5em;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto; }
    .account-settings--component input {
      height: 2em;
      margin: auto auto auto 0;
      width: 10em; }
    .account-settings--component p {
      margin: auto 0 auto auto;
      text-align: right; }
  .component__name {
    width: 45%;
    display: flex;
    margin: auto 2rem auto auto; }
    .component__name--order {
      order: 1; }
  .component__action {
    width: 55%; }
    .component__action--order {
      order: 2; } }

#drag-drop-window {
  background: #fff;
  position: fixed;
  height: 60%;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 6%;
  border-radius: 3px;
  z-index: 100;
  display: none;
  z-index: 900; }
  #drag-drop-window .drag-drop-window__close {
    background: none;
    border-color: none;
    border: 0;
    color: #373739;
    display: flex;
    margin-left: auto;
    margin-right: 1em;
    margin-top: 1em; }
  #drag-drop-window .avatar-component__choose {
    text-align: center; }
    #drag-drop-window .avatar-component__choose__text {
      text-align: center; }
    #drag-drop-window .avatar-component__choose__button {
      display: flex;
      margin: auto; }
  #drag-drop-window .avatar-component__sent__text {
    text-align: center; }
  #drag-drop-window .avatar-component__sent__button {
    display: flex;
    margin: auto; }
