.wrapper {
  max-width: 90%;
  margin: 0 auto; }

.links {
  color: #b5e555; }
  .links--white {
    text-decoration: none;
    color: #fff; }
    .links--white:hover {
      color: #b5e555; }
  .links:hover {
    color: #b5e555; }

.container--white {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 3px;
  padding: 30px; }

.input {
  border-radius: 3px; }
  .input--white {
    border: 1px solid #ccc;
    background: #fff; }

button:focus {
  outline: 0; }

.button {
  border-radius: 50px; }
  .button--lime {
    font-size: 95%;
    font-weight: bold;
    color: #3f3956;
    background-color: #b5e555;
    border: 0;
    padding: 30px;
    text-align: center; }
    .button--lime:hover {
      background-color: #a9e13a;
      color: #3f3956; }
  .button--white {
    color: #3f3956;
    font-weight: 600;
    background: #fff;
    border-color: #b5e555;
    border-style: solid;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px; }
    .button--white:hover {
      background: #b5e555;
      color: #3f3956; }
  .button__search {
    width: 40px;
    height: 32px;
    margin-left: 0;
    background: #3f3956;
    border: 0;
    color: #fff;
    border-radius: 3px;
    cursor: pointer; }

.headline {
  color: #fff;
  font-size: 300%;
  text-align: center; }

@media (min-width: 510px) {
  .wrapper--small {
    max-width: 500px; }
  .container--small {
    padding: 50px 30px; } }

@media (min-width: 768px) {
  .headline {
    text-align: left;
    padding-left: 35px; }
  .headline--small {
    padding-left: 95px; }
  .wrapper--small {
    max-width: 600px; }
  .container--small {
    padding: 50px 100px; } }

@media (min-width: 1500px) {
  .wrapper {
    max-width: 80%; }
  .wrapper--small {
    max-width: 600px; } }

.container__input {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%; }
  .container__input--message {
    margin-top: 1em;
    height: 150px;
    max-width: 100%;
    min-width: 100%; }

.check {
  width: 30%;
  margin-left: 0;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row; }

.container__button-block {
  width: 7.5em;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 511px) {
  .container__button-block {
    margin-left: 0;
    margin-right: auto; }
  .user-info {
    margin-left: 0;
    margin-right: auto;
    width: 70%; } }
